html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 100% Georgia, serif;
  background: #535353 url(../images/pattern.jpg) repeat;
  color: #FFF;}

p
{ padding: 0 0 15px 0;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% Georgia, serif;
  color: #FFF;
  text-shadow: 1px 1px #000;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
  padding: 5px 0 0 0;}

h2
{ font: normal 165% Georgia, serif;}

h3
{ font: normal 100% Georgia, serif;
}

h3 a, h3 a:hover
{ color: #96B7B7;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 150% Georgia, serif;
  color: #098EFF;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Georgia, serif;
  color: #888;
  padding-bottom: 15px;}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: none;
  color: #098EFF;
}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ width: 1000px;
  height: 55px;
  padding: 50px 0 0 0;
  background: transparent;}


  
span
{ color: #098EFF;}


#site_content
{ width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 0 0 0;
  background: #1D1D1D;
  -webkit-box-shadow: inset 5px 5px 30px 5px #535353;
  -moz-box-shadow: inset 5px 5px 30px 5px #535353;
  box-shadow: inset 5px 5px 30px 5px #535353;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;} 
  
#image_container  
{ width: 1000px;}



