<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ZVProject - {{title}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">   
	</head>
	<body>
		<div class="page">
			<div class="main">
				{% block main %}

				{% endblock %}
			</div>
			<div class="row_footer">
				<div class="footer_menu col-4">
					<ul>
						<li><a href="{{url_for('static', filename='template/team.html')}}">Our Team</a></li>
						<li><a href="{{url_for('static', filename='support.html')}}">Support us</a></li>
					</ul>
				</div>
				<div class="footer_social col-8">
					{% include "social_links.html" %}
				</div>
				<div class="footer_legal col-4">
					<div class="footer_auth">
						<p>Created and design by <a href="team.html">ZeroVash</a></p>
					</div>
					<div class="footer_rights">
						<p>Copyright 2018 ©. All Rights Reserved.</p>
					</div>
				</div>	
			</div>
		</div>
	</body>

</html>
