{% extends "index.html" %}
{% block main %}
	<div>
		<div class="col-2"></div>
		<div class="col-8"> 
			<a href="index">
				<img  class="logo" src="{{ url_for('static', filename='img/Logo.png') }}" alt="Logo">
			</a>
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row_links">
		<div class="navigation">
			<ul >
				{% for link in menu %}
				{% set href = link.split('/')[0] %}
				<li>
					<a href="{{ href|lower }}">{{link}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
