{% extends "index.html" %}
{% block menu %}
	<div>
		<div class="col-2"></div>
		<div class="col-8"> 
			<a href="index.html">
				<img  class="logo" src="{{ url_for('static', filename='img/Logo.png') }}" alt="Logo">
			</a>
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row_links">
		<div class="navigation">
			<ul >
				<li>
					<a href="projects.html">Projects</a>
				</li>
				<li>
					<a href="portfolio.html">Portfolio</a>
				</li>
				<li>
					<a href="About.html">About</a>
				</li>
				<li>
					<a href="contact.html">Contact/Join</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
