{% extends "index.html" %}
{% block main %}
	<div>
		<div class="row_upper">
			<div class="col-1"></div>
			<div class="col-2">
				<a href="index.html">
					<img src="img/Logo.png" class="logo">
				</a>
			</div>
			<div class="col-9">
			</div>
		</div>
		<div class="row_middle">
			<div class="col-1"> </div>
			<div class="col-4">
				<p><a href="index.html">ZVproject</a></p>
				<p class="def_style">/</p>
				<p><a href="projects.html">Projects</a></p>
			</div>
			<div class="col-7"></div>
		</div>
	</div>
	<div>


	</div>
{% endblock %}