{% extends "main_container.html" %}
{% block project %}

	<!--ALL PROJECTS-->
	<div class="projects">
		
		<!--SINGLE PROJECT DESCRIPTION-->
		<div class="project_short_block">
			<a href="#modal_full_project">
				<div>
					<p class="project_title">ZeroInfinity</p>
				</div>
				<div>
					<img src="{{ url_for('static', filename='img/projects/space.jpg') }}" class="project_icon">
				</div>
				<div>
					<p class="project_description def_style">
						here is atestxtz anscnsa niw nifwan pifnaspn owanpf nkwansfpi nwanf ksancpianw inwan p
					</p>
				</div>
			</a>
		</div>

		<!--MODAL WINDOW FOR FULL DESCRIPTION-->
		<div id="modal_full_project" class="modal_project">
			<div>
				<a href='#close' class='close'>X</a>
				<div class="">
					<h2></h2>
					<div class="logo col-3">
						<img src="{{ url_for('static', filename='img/projects/space.jpg') }}" class="project_icon">
					</div>
					<div>
						<p class="project_description def_style">
							
						</p>
					</div>
				</div>
			</div>
		</div>


		<div class="project_short_block">
			<a href="">
				<div>
					<p>ZeroInfinity</p>
				</div>
				<div>
					<img src="{{ url_for('static', filename='img/projects/space.jpg') }}" class="project_icon">
				</div>
				<div>
					<p>
						here is atestxtz anscnsa niw nifwan pifnaspn owanpf nkwansfpi nwanf ksancpianw inwan p
					</p>
				</div>
			</a>
		</div>

		<div class="project_short_block">
			<div class="project_container">
			<a href="">
				<div>
					<p>ZeroInfinity</p>
				</div>
				<div>
					<img src="{{ url_for('static', filename='img/projects/space.jpg') }}" class="project_icon">
				</div>
				<div>
					<p>
						here is atestxtz anscnsa niw nifwan pifnaspn owanpf nkwansfpi nwanf ksancpianw inwan p
					</p>
				</div>
			</a>
			</div>
		</div>

		<div class="project_short_block">
			<a href="">
				<div>
					<p class="project_title">ZeroInfinity</p>
				</div>
				<div>
					<img src="{{ url_for('static', filename='img/projects/space.jpg') }}" class="project_icon">
				</div>
				<div>
					<p>
						here is atestxtz anscnsa niw nifwan pifnaspn owanpf nkwansfpi nwanf ksancpianw inwan p
					</p>
				</div>
			</a>
		</div>


	</div>
{% endblock %}